[buildout]
parts =
    test
    instance
    omelette

extends =
    http://dist.plone.org/release/4.1-latest/versions.cfg

package-name = collective.lesscss

develop = .

extensions =
    mr.developer

sources = sources
versions = versions
sources-dir = extras
auto-checkout = example.bootstrap

[sources]
example.bootstrap               = git git://github.com/sneridagh/example.bootstrap.git

[versions]
zc.recipe.testrunner = 1.2.1
zope.testing = 3.9.4

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    Plone
    example.bootstrap
    ${buildout:package-name}
environment-vars = zope_i18n_compile_mo_files true

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    collective.lesscss [test]
defaults = ['-v', '--auto-color', '--auto-progress', '-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
